<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!--    css 추가     -->
<th:block layout:fragment="css">
</th:block>

<!--    script 추가     -->
<th:block layout:fragment="script">
</th:block>

<!-- Content -->
<div layout:fragment="content">

    <!--  멤버 목록  -->
    <div style="text-align: center; margin: auto; width: 70%">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>num</th>
            <th>닉네임</th>
            <th>프로필 이미지</th>
            <th>소셜 타입</th>
            <th>마케팅 동의</th>
            <th>푸쉬 동의</th>
            <th>가입일자</th>
            <th>티켓 생성 수</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.nickname}"></td>
            <td><img th:src="${member.profileUrl}" style="height: 70px"/></td>
            <td th:text="${member.socialType}"></td>
            <td th:text="${member.marketingAgree}"></td>
            <td th:text="${member.pushAgree}"></td>
            <td th:text="${member.createdDate}"></td>
            <td th:text="${member.tickets.size()}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

</html>